$lato_regular: 'Lato Regular', Arial;
$lato_bold: 'Lato Bold', Arial;
$roboto_condensed: 'Roboto Condensed', Arial;
$blue: #8EF8FF;
$orange: #FFA100;
$green: #20FC8F;
$red: #FF5B58;
$darkBlue: #004777;